.Container {
    display:flex;
    flex-direction: row;
    /* color: black; */
    justify-content: space-evenly;
    margin:40px;
}

img {
    max-width: 300px;
    height: auto;
    margin-right: 40px;
    border: 3px solid #73AD21;  

}
.Project {
    /* background-color: white; */
}

p {
    font-size: 14px;
    word-wrap: normal;
    white-space: normal;
    max-width: 900px;
}